
@main(Html("Features")){
<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses'],
          ['2004',  1000,      400],
          ['2005',  1170,      460],
          ['2006',  660,       1120],
          ['2007',  1030,      540]
        ]);

        var options = {
          title: 'Company Performance',
          vAxis: {title: 'Year',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      //========================
      

       function drawNew() {
        var data = new google.visualization.DataTable(CountyTotalArea);
         
         for(var i in CountyTotalArea.results.bindings){
          
          data.addRows(CountyTotalArea.results.bindings[i].county.value,CountyTotalArea.results.bindings[i].waterarea.value,CountyTotalArea.results.bindings[i].landarea.value);
  
          
        }

        var options = {
          title: 'Company Performance',
          vAxis: {title: 'county',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }


      //===============================
      function drawColumn() {

        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses'],
          ['2004',  1000,      400],
          ['2005',  1170,      460],
          ['2006',  660,       1120],
          ['2007',  1030,      540]
        ]);

        var options = {
          title: 'Company Performance',
          vAxis: {title: 'Year',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
      function togglestyle(el){
        if(el.className == "line") {
          el.className="bar";
          drawChart();

        } else {
          el.className="line";
          drawColumn();
        }
      }

      //Reading Json
      var output="<ul>"
      function readJson(){
        for(var i in CountyTotalArea.results.bindings){
          console.log("Name of county is "+CountyTotalArea.results.bindings[i].county.value);
          console.log("Waterarea is "+CountyTotalArea.results.bindings[i].waterarea.value);
          console.log("Land area is "+CountyTotalArea.results.bindings[i].landarea.value);
          
        }
       
      }

 


//document.getElementById('a').innerHTML=CountyTotalArea.bindings[0].waterarea.value;
console.log(CountyTotalArea.results.bindings[0].waterarea.value);
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <button id="but" class="btn primary" onclick="togglestyle(this);readJson();drawNew()"> Line chart</button>
    <p>
      
      <div is="abc"></div>
    </p>

  </body>

</html>
}