@main(Html("NutriG")) {
    
    <h2></h2>
    
   
    
    <p>
<br>

Purposes:<br>
The objective of this project is to influence diet decisions by providing good visualizations of food data. <br>
Our application will provide a user with analyzing their diet pattern. <br>
We will add logging or personalizing feature that will enable the users to tailor the application to a wide range of uses. <br>
Since it is a tedious task to input what a person has eaten,<br>
 we will be having a good database of pre-existing food available at http://ndb.nal.usda.gov/<br>
<br>

Tools and Languages<br>
Java <br>
Play framework<br>
Html CSS<br>
Javascript<br>
Eclipse<br>
JUnit Testing Framework<br>

Attraction<br>
We believe that our product provides a unique glimpse into the future of how consumers will browse nutritional data <br>
and make decisions on that data. With a complete set of <br>
features to assist users in data input, social sharing,<br>
 and personalization, we could reach our goals of increasing consumer interest in good nutrition,<br>
  and combating obesity <br>
and other nutrition-related social issues. <br>
      </p>
      
     
      
    </body>
</html>
    
}