@(userForm: Form[User])
@import helper._
@import helper.twitterBootstrap._

@main("Example"){
<html>
<title="NutriG"></title>

<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">

<body>
<h1>NutriG</h1>

 


@helper.form(action = routes.Application.submit(),'id -> "userForm") {
    
    @helper.inputText(userForm("email"))
    
    @helper.inputPassword(userForm("password"))
    
    <input type="submit" class="btn-primary" value="Login">
    }



</body>
</head>
</html>
}
